## Numbers

In [1]:
a = 14
b = 3
a + b # addition

17

In [2]:
a - b # subtraction

11

In [3]:
a * b # multiplication

42

In [4]:
a / b # true division

4.666666666666667

In [5]:
a // b # integer division

4

In [6]:
a % b # modulo operator (remainder of division)

2

In [7]:
a ** b # power operation

2744

In [ ]:
7 / 4 # true division

In [8]:
7 // 4 # integer division, truncation returns 1

1

In [9]:
-7 / 4 # true division, result is the opposite of the previous

-1.75

In [ ]:
-7 // 4 # integer division, result not the opposite of the previous

- The result of an integer division in Python is always rounded towards minus infinity. If instead of flooring, you want to truncate a number to an integer, you can use the built-in 'int' function as seen in the below example.

In [ ]:
int(1.75) # truncation is done towards zero

In [ ]:
int(-1.75) # truncation is done towards zero

In [ ]:
n = 1024
n

In [ ]:
m = 1_024
m

In [ ]:
m == n

In [ ]:
hex_n = 0x_4_0_0 # 0x400 == 1024
hex_n

## Booleans

In [10]:
int(True) # True behaves like 1

1

In [ ]:
int(False) # False behaves like 0

In [ ]:
bool(1) # 1 evaluates to True in a boolean context

In [ ]:
bool(-42) # and so does every non-zero number

In [ ]:
bool(0) # 0 evaluates to False

In [ ]:
not True

In [ ]:
not False

In [ ]:
True and True

In [ ]:
False or True

 - True and False are subclasses of integers when you try to add them. Python upcasts them to integers and performs the addition (Upcasting is a type of conversion operation that goes from a subclass to its parent. In the examples presented here True and False, which belong to a class derived from the integer class, are converted back to integers when needed):

In [11]:
1 + True

2

In [12]:
False + 42

42

In [13]:
7 - True

6

## Real numbers

Usually, programming languages give coders two different formats: single and double precision. Single precision take up 32 bits of memory and double precision takes up 64 bits of memory. Python supports the double precision format.

In [14]:
pi = 3.1415926536 # how many dipits of pi can you remember?
radius = 4.5
area = pi * (radius ** 2)
area

63.617251235400005

In [ ]:
# the sys.float_info struct sequence holds information about how floating point numbers will behave on your system.
import sys
sys.float_info

- We have 64 bits to represent float numbers. This means we can represent at most 2 ** 64 = 18.446,744,073,709,551,616 numbers with that amount of bits. Take a look at the 'max' and 'epsilon' values for the flaot numbers, and you will realize it's impossible to represent them all. There is just not enough space, so they are approximated to the closest representable number. You probably think that only extremely big or extremely small numbers suffer from this issue. Well, think again and try the following:

In [ ]:
0.3 - 0.1 * 3 # this should be 0!!!

- What does this tell you? This means that double precision numbers suffer from approximation issues even when it comes to simple numbers like 0.1 or 0.3. Why is this important? It can be a significant problem if you are handling prices or financial calulcations, or any type of data that needs to not be approximated. To solve this Python gives you the 'decimal' type which doesn't suffer from this problem

## Fractions and Decimals

In [ ]:
from fractions import Fraction
Fraction(10, 6) # mad hatter? notice it has been simplified

In [ ]:
Fraction(1, 3) + Fraction (2, 3)  # 1/3 + 2/3 == 3/3 == 1/1 == 1

In [ ]:
f = Fraction(10, 6)
f.numerator

In [ ]:
f.denominator

In [ ]:
from decimal import Decimal as D # rename for brevity
D(3.14) # pi, from float, so approximation issues

In [ ]:
D('3.14')

In [ ]:
D(0.1) * D(3) - D(0.3) # from float, we still have the issue

In [ ]:
D('0.1') * D(3) - D('0.3') # from string ... problem solved!

In [ ]:
D('1.4').as_integer_ratio() #7/5 = 1.4

- When we construct a 'Decimal' number from a 'float', it takes on all the approximation issues 'float' has. 'Decimal' has no approximation issues when we feed an 'int' or a 'string' representation to the constructor.

##  Immutable Sequences i.e Strings, Tuples, and bytes

- Strings and bytes

In [ ]:
# 4 weays to make a string
str1 = 'This is a string. We built it with single quotes.'
str2 = "This is also a string, but built with double quotes."
str3 = '''This is built using triple quotes, so it 
can span multiple lines.'''
str4 = """This too 
is a multiline one
buit with triple double-quotes."""
str4  # printed implicitly

In [ ]:
print(str4) # printed explicitly

In [ ]:
len(str1)

In [15]:
first_name = 'Kennly'
last_name = 'Weerasinghe'
full_name = first_name + ' ' + last_name
print(full_name)

Kennly Weerasinghe

In [ ]:
weather = "It's sunny"
print(weather)

In [16]:
weather = "It's "kind of" sunny"
print(weather)

SyntaxError: invalid syntax (2193194032.py, line 1)

In [17]:
weather = "It's \"kind of\" sunny"
print(weather)
weather

It's "kind of" sunny

'It\'s "kind of" sunny'

In [ ]:
weather = "\t It's \"kind of\" sunny" # \t uses tab to indent the line
print(weather)

- Indexing and slicing strings
       - When dealing with immutable sequences, both indexing and slicing operations are read-only.

In [18]:
s = "The trouble is you think you have time"
s[0] # indexing at position 0, which is the first char

'T'

In [19]:
s[5] # indexing at position 5, which is the sixth char

'r'

In [20]:
s[:4] # slicing, we specify only the stop position

'The '

In [ ]:
s[4:] # slicing, we specify only the start position

In [21]:
s[2:14] # slicing, both start and stop positions

'e trouble is'

In [22]:
s[2:14:3] # slicing, start, stop, and step (every 3 chars)

'erb '

In [ ]:
s[:] # quick way of making a copy

In [23]:
s[::-1] # reverse the string

'emit evah uoy kniht uoy si elbuort ehT'

- Join strings

In [ ]:
words = ['this', 'is', 'a', 'sentence']
words2 = '-'.join(words)
print(words2)

words3 = ' '.join(words)
print(words3)

In [ ]:
my_lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
my_lst_str = ''.join(map(str, my_lst))
print(my_lst_str)

In [ ]:
#to add parentheses and commas
",".join("12345").join(("(",")"))

In [ ]:
#to add parentheses and commas
list = ["(",")"]
",".join("12345").join(list)

- String Formatting

In [ ]:
greet_old = 'Hello %s!'
greet_old % 'Fabrizio'    #this method is deprecated, so don't use it

In [ ]:
greet_positional = 'Hello {} {}!'
greet_positional.format('Fabrizio', 'Romano')

In [ ]:
greet_positional_idx = 'This is {0}! {1} loves {0}!'
greet_positional_idx.format('Python', 'Fabrizio')

* Tuples

In [ ]:
t = () # empty tuple
type(t)

In [ ]:
one_element_tuple = (42, ) # you need the comma!
three_elements_tuple = (1, 3, 5) #braces are optional here
a, b, c = 1, 2, 3 # tuple for multiple assignment
a, b, c #implicit typle to print with one instruction

In [ ]:
3 in three_elements_tuple # membership test

- Note: The membership operator 'in' can also be used with lists, strings, dictionaries, and, in general with collection and sequence objects

In [ ]:
# One operation that tuple assignment allows us to do is one-line swaps, with no need for a third temporary variable. 
# Below is an example

a, b = 1, 2
c = a
a = b
b = c
a, b   # a and b have been swapped

In [26]:
# here is the pythonic way to do this:

a, b = 0, 1
a, b = b, a
a, b

TypeError: type() takes 1 or 3 arguments

## Mutable Sequences

- Lists

In [ ]:
[] # empty list

In [ ]:
list() # same as []

In [ ]:
[1, 2, 3] # as with tuples, items are comma separated

In [ ]:
[x + 5 for x in [2, 3, 4]] # python is magic aka this is referred to a list comprehension

In [ ]:
list((1, 3, 5, 7, 9))  # list from a tuple

In [ ]:
list('hello') # list from a string

In [ ]:
# Let's explore the main methods lists gift us with in python:

a = [1, 2, 1, 3]
a.append(13) # we can append anything at the end
a

In [ ]:
a.count(1)  # how many '1' are there in the list?

In [ ]:
a.extend([5,7])  # extend the list by another (or sequence)
a

In [ ]:
a.index(13)   # position of '13' in the list (0-based indexing)

In [ ]:
a.insert(0, 17)   # insert '17' at position 0
a

In [ ]:
a.pop()   # pop (remove and return) the last element

In [ ]:
a.pop(3)   # pop element at position 3

In [ ]:
a

In [ ]:
a.remove(17)   # remove '17' from the list
a

In [ ]:
a.reverse()  # reverse the order of the elements in the list
a

In [ ]:
a.sort()  # sort the list
a

In [ ]:
a.clear()    # remove all elements from the list
a

In [ ]:
# You can extend lists using any sequence type
a = list('hello')
a

In [ ]:
a.append(100)  # append 100, hetergeneous type
a

In [ ]:
a.extend((1, 2, 3))  # extend using tuple
a

In [ ]:
a.extend('...')  # extend using string
a

In [ ]:
# Common operations that can be done with lists:
a = [1, 3, 5, 7] 
min(a)  # minimum value in the list

In [ ]:
max(a)  # maximum value in the list

In [ ]:
sum(a)  # sum of all values in the list

In [ ]:
len(a)  # number of elements in the list

In [ ]:
# example of operator overloading

b = [6, 7 , 8]
a + b   # '+' with list means concatenation

In [ ]:
# example of operator overloading
a * 2  # '*' also has a special meaning

In [ ]:
from operator import itemgetter
a = [(5, 3), (1, 3), (1, 2), (2, -1), (4, 9)]
sorted(a)     # sorts on the first item of the tuple and also on the second if two tuples have the same value for the first

In [ ]:
sorted(a, key=itemgetter(0))     # sorts only on the first item of the tuple, disregards the second

In [ ]:
sorted(a, key=itemgetter(0, 1))  # replicates default sort

In [ ]:
sorted(a, key=itemgetter(1))  # sorts only on the second item in the tuple

In [ ]:
sorted(a, key=itemgetter(1), reverse=True)

In [ ]:
#feature of a list on reassignment to another variable
amazon_cart = ['notebooks', 'sunglasses', 'toys', 'grapes']
amazon_cart[0] = 'laptop'
newcart = amazon_cart 
newcart[0] = 'gum'  #this will change the item in the list in both newcart and amazon_cart 
print(newcart)
print(amazon_cart)

In [ ]:
amazon_cart = ['notebooks', 'sunglasses', 'toys', 'grapes']
amazon_cart[0] = 'laptop'
newcart = amazon_cart[:] #this will assign items in amazon_cart to newcart without linking the two lists as one
newcart[0] = 'gum'
print(newcart)
print(amazon_cart)

## Matrices

In [ ]:
# Matrix
matrix = [[1,2,3], [1,0,1], [0,1,0]]

print(matrix[0][1]) # grabs the first item in the list and then the second item within that list.

## Custom objects in Python are mutable (unless you code them not to be) ... this is a very important concept in Python

In [ ]:
class Person():
    def __init__(self, age):
        self.age = age
        
fab = Person(age = 42) 
fab.age

In [ ]:
id(fab)

In [ ]:
id(fab.age)

In [ ]:
fab.age = 25 # I wish!
id(fab) # will be the same!

In [ ]:
id(fab.age) # will be different!

In [ ]:
type(fab) #type of fab is 'Person'

 - Here we set up an object 'fab' whose type = 'Person' (a custom class). On creation, the ojbect is give the 'age'of '42'. I am printing it, along with the object 'id', and the ID of 'age' as well. Notice that even after I change 'age' to be '25' the ID of 'fab' stays the same (while the ID of 'age' has changed).

## LEGB = Local, Enclosing, Global, and Built-In scopes

In simple terms, the idea of scope can be described by 3 general rules:

Scope simply means: what variables do I have access to?

Scope also refers to access i.e. local, enclosing functions, global, and built-in

1. Name assignments will create or change local names by default.
2. Name references search (at most) four scopes, these are:
    * local
    * enclosing functions
    * global
    * built-in
3. Names declared in global and nonlocal statements map assigned names to enclosing module and function scopes.


The statement in #2 above can be defined by the LEGB rule.


**LEGB Rule:**

L: Local — Names assigned in any way within a function (def or lambda), and not declared global in that function.

E: Enclosing function locals — Names in the local scope of any and all enclosing functions (def or lambda), from inner to outer.

G: Global (module) — Names assigned at the top-level of a module file, or declared global in a def within the file.

B: Built-in (Python) — Names preassigned in the built-in names module : open, range, SyntaxError,...

In [ ]:
#LEGB local, enclosing, global, and built-in
x = 25

def printer():
    x = 50
    return x

print(25)
print(printer())

In [ ]:
#Global
name = 'THIS IS A GLOBAL STRING'

def greet():
    # Enclosing
    name = 'Sammy'
    
    def hello():
        print('Hello ' + name)
    
    hello()
    
greet()

In [ ]:
#Global
name = 'THIS IS A GLOBAL STRING'

def greet():
    # Enclosing
    #name = 'Sammy'
    
    def hello():
        print('Hello ' + name)
    
    hello()
    
greet()

In [ ]:
#Global
name = 'THIS IS A GLOBAL STRING'

def greet():
    # Enclosing
    name = 'Sammy'
    
    def hello():
        #Local
        name = 'IM LOCAL'
        print('Hello ' + name)
    
    hello()
    
greet()

In [ ]:
x = 50

def func(x):
    print(f'X is {x}')

func(x)

In [ ]:
x = 50

def func(x):
    print(f'X is {x}')
    
    #Local reassignment
    x = 200
    print(f'I JUST LOCALLY CHANGED X to {x}')
func(x)
print(x) # didn't change the global space

In [ ]:
x = 50

def func():
    global x
    print(f'X is {x}')
    
    #Local reassignment
    x = 'NEW VALUE'
    print(f'I JUST LOCALLY CHANGED X to {x}')

In [ ]:
print(x)

In [ ]:
func()

In [ ]:
x

In [ ]:
#much cleaner and safer to do this ... i.e. don't use the 'global' keyword
x = 50

def func(x):
    
    print(f'X is {x}')
    
    #Local reassignment
    x = 'NEW VALUE'
    print(f'I JUST LOCALLY CHANGED X to {x}') 
    return x

In [ ]:
print(x)

In [ ]:
x = func(x)

In [ ]:
print(x)

In [ ]:
def local():
    m = 9   # indent using 4 spaces
    print(m)
m = 4
print(m)
local()

In [ ]:
m

In [ ]:
def local():
    # m doesn't belong to the scope defined by the local function
    # so Python will keep looking into the next enclosing scope.
    # m is finally found in the global scope
    print(m, 'printing from the local scope')

m = 5
print(m, 'print from the global scope')

local()

In [ ]:
def enclosing_func():
    m = 13
    
    def local():
        # m doesn't belong to the scope defined by the local 
        # function so Python will keep looking into the next
        # enclosing scope. This time m is found in the enclosing
        # scope
        print(m, 'printing from the local scope')
        
    # calling the function local
    local()

m = 5
print(m, 'printing from the global scope')

enclosing_func()

In [ ]:
greet_positional_idx.format('Coffee', 'Fab')

In [ ]:
keyword = 'Hello my name is {name} {last_name}'
keyword.format(name='Fabrizio', last_name='Romano')

In [ ]:
name = 'Fab'  #newest method called formatted string literals or f'string literals, preferred way
age = 42
f"Hello! My name is {name} and I'm {age}"

In [ ]:
from math import pi
f"No arguing with {pi}, it's irrational..."

## File I/O

In [ ]:
%%writefile myfile.txt
Hello this is a text file
this is the second line
this is the third line

In [ ]:
myfile = open("myfile.txt")

In [ ]:
myfile = open("whoops_wrong.txt")

In [ ]:
pwd

In [ ]:
myfile.read()

In [ ]:
myfile.read()

In [ ]:
myfile.seek(0)

In [ ]:
myfile.read()

In [ ]:
myfile.seek(0)

In [ ]:
contents = myfile.read()

In [ ]:
contents

In [ ]:
myfile.seek(0)

In [ ]:
myfile.readlines() #grabs a list

In [ ]:
myfile = open("C:\\Users\\wsken\\Desktop\\Python Practice\\Untitled Folder\\myfile.txt")

In [ ]:
myfile.read()

In [ ]:
%%writefile myfile2.txt
Hello this is a text file
this is the second line
this is the fourth line

In [ ]:
myfile2 = open("C:\\Users\\wsken\\Desktop\\Python Practice\\Untitled Folder\\myfile2.txt")
myfile2

In [ ]:
myfile2.read()

In [ ]:
myfile2.close()

In [ ]:
with open('myfile2.txt') as my_new_file2:              #don't need to close the file
    contents = my_new_file2.read()

In [ ]:
contents

In [ ]:
# Reading, Writing, Appending Modes
# mode = 'r' is read only
# mode = 'w' is write only (will overwrite files or create new!)
# mode = 'a' is append only (will add on to files)
# mode = 'r+' is reading and writing
# mode = 'w+' is writing and reading (Overwrites existing files to create a new file!)


with open("myfile.txt", mode='r') as myfile:  
    contents = myfile.read()

In [ ]:
%%writefile my_new_file.txt
ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

In [ ]:
with open("my_new_file.txt", mode='r') as f:  
    print(f.read())

In [ ]:
with open("my_new_file.txt", mode='a') as f:
    f.write('FOUR ON FOURTH')

In [ ]:
with open("my_new_file.txt", mode='r') as f:  
    print(f.read())

In [ ]:
with open("asdfdsfds.txt", mode = 'w') as f:
    f.write("I CREATED THIS FILE!")

In [ ]:
with open("asdfdsfds.txt", mode = 'r') as f:
    print(f.read())

## Control Flow
 - Keywords
    - if, elif, else
    - Makes use of white space(indentation) and colons
  - Syntax of if/else statement
    - if 'some_condition':
        execute some code
    - elif 'some_other_condition':
        do something different
    - else: 
        do something else

In [27]:
if True: 
    print("It's true!")

It's true!

In [28]:
if 3 > 2: 
    print("It's true!")

It's true!

In [29]:
hungry = True

if hungry:
    print('FEED ME!')

FEED ME!

In [30]:
hungry = False

if hungry:
    print('FEED ME!')

In [31]:
hungry = False # a boolean

if hungry:
    print('FEED ME!')
else:
    print("Im not hungry")

Im not hungry

In [ ]:
hungry = True  # a boolean

if hungry:
    print('FEED ME!')
else:
    print("Im not hungry")

In [ ]:
loc = 'Bank'

if loc == 'Auto Shop':
    print("Cars are cool!")
else:
    print("I do not know much.")

In [32]:
loc = 'Bank'

if loc == 'Auto Shop':
    print("Cars are cool!")
elif loc == 'Bank':
    print("Money is cool!")
else:
    print("I do not know much.")

Money is cool!

In [ ]:
loc = 'Auto Shop'

if loc == 'Auto Shop':
    print("Cars are cool!")
elif loc == 'Bank':
    print("Money is cool!")
elif loc == 'Store':
    print("Welcome to the store!")
else:
    print("I do not know much.")

In [ ]:
loc = 'Store'

if loc == 'Auto Shop':
    print("Cars are cool!")
elif loc == 'Bank':
    print("Money is cool!")
elif loc == 'Store':
    print("Welcome to the store!")
else:
    print("I do not know much.")

In [ ]:
loc = 'Game'

if loc == 'Auto Shop':
    print("Cars are cool!")
elif loc == 'Bank':
    print("Money is cool!")
elif loc == 'Store':
    print("Welcome to the store!")
else:
    print("I do not know much.")

In [ ]:
name = 'Sammy'

if name == 'Frankie':
    print("Hello Frankie!")
elif name == 'Sammy':
    print("Hello Sammy!")
else:
    print("What is your name?")

In [ ]:
name = 'Frankie'

if name == 'Frankie':
    print("Hello Frankie!")
elif name == 'Sammy':
    print("Hello Sammy!")
else:
    print("What is your name?")

In [ ]:
name = 'Jose'

if name == 'Frankie':
    print("Hello Frankie!")
elif name == 'Sammy':
    print("Hello Sammy!")
else:
    print("What is your name?")

In [33]:
# For loops are used to iterate over the object i.e. iterate over every character in a string, iterate over every item in 
# a list, iterate over every key in a dictionary.
# Syntax of a loop 
my_iterable = [1,2,3]
for u in my_iterable:
    print(u)

1
2
3

In [34]:
mylist = [1,2,3,4,5,6,7,8,9,10]

for num in mylist: 
    print(num)

1
2
3
4
5
6
7
8
9
10

In [36]:
mylist = [1,2,4,5]

for i in mylist:
    print(num)

10
10
10
10

In [ ]:
mylist = [1,2,3,4,5,6,7,8,9,10]

# variable name can be whatever you want 
for jelly in mylist: 
    print(jelly)

In [ ]:
mylist = [1,2,3,4,5,6,7,8,9,10]

for num in mylist: 
    print('Hello')

In [ ]:
mylist = [1,2,3,4,5,6,7,8,9,10]

for num in mylist: 
    if num % 2 == 0:
        print(num)
    else:
        print(f'Odd Number: {num}')

In [ ]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num

print(list_sum)

In [ ]:
list_sum = 0

# place print statement in the loop to see the step by step results
# if you want just the result put print statement outside the loop as in previous cell
for num in mylist:
    list_sum = list_sum + num

    print(list_sum)

In [ ]:
mystring = 'Hello World'

#iterate through a string
for letter in mystring:
    print(letter)

In [ ]:
#iterate through a string
for letter in 'Hello World':
    print(letter)

In [ ]:
#iterate through a string
for ghghg in 'Hello World':
    print(ghghg)

In [ ]:
#iterate something a certain amount of times
for _ in 'Hello World':
    print('Cool!')

In [37]:
tup = (1,2,3)

for item in tup:
    print(item)

1
2
3

In [38]:
mylist = [(1,2), (3,4), (5,6), (7,8)]
len(mylist)

4

In [ ]:
for item in mylist:
    print(item)

In [39]:
#tuple unpacking

for (a,b) in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [ ]:
for a,b in mylist:
    print(a)
    print(b)

In [40]:
for a,b in mylist:
    print(a)

1
3
5
7

In [41]:
for a,b in mylist:
    print(b)

2
4
6
8

In [ ]:
mylist = [(1,2,3), (4,5,6), (7,8,9)]
for item in mylist:
    print(item)

In [ ]:
for a,b,c in mylist:
    print(b)

In [ ]:
for a,b,c in mylist:
    print(b + c)

In [ ]:
d = {'k1':1, 'k2':2, 'k3':3}

#only returns key from key:value pair
for item in d:
    print(item)

In [ ]:
d = {'k1':1, 'k2':2, 'k3':3}

#returns the tuple pairs from the dictionary 'd'
for item in d.items():
    print(item)

In [ ]:
d = {'k1':1, 'k2':2, 'k3':3}

#only value from key:value pair
for value in d.values():
    print(value)

In [ ]:
d = {'k1':1, 'k2':2, 'k3':3}

#use tuple unpacking to print out only value from key:value pair in dictionary
#dictionaries are not ordered so there is no guarantee that you will get values in 'order'
for key,value in d.items():
    print(value)

In [ ]:
#While loops will continue to execute a block of code while some condition remains True
# Syntax of a while loop
#while some_boolean_condition:
    #do something
#else:
    #do something different

x = 0 

while x < 5:
    print(f'The current value of x is {x}')
    x = x + 1

In [ ]:
#Infinite while loop ... will have to reset kernel if you run the code below
x = 0 

#while x < 5:
    #print(f'The current value of x is {x}')

In [ ]:
x = 0 

while x < 5:
    print(f'The current value of x is {x}')
    x += 1
else:
    print("X IS NOT LESS THAN 5")

In [ ]:
x = 50 

while x < 5:
    print(f'The current value of x is {x}')
    x += 1
else:
    print("X IS NOT LESS THAN 5")

- Break, continue, pass
 - We can use break, continue, and pass statements in our loops to add additional functionality for various cases.
 - The three statements are defined by:
     - break: breaks out of the current closest enclosing loop.
     - continue: Goes to the top of the closest enclosing loop.
     - pass: Does nothing at all.

In [ ]:
x = [1,2,3]

for item in x:
    #comment

print('end of my script')

In [ ]:
x = [1,2,3]

for item in x:
    #comment
    pass #programmers use pass as a placeholder to avoid syntax errors

print('end of my script')

In [ ]:
mystring = 'Sammy'

for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

In [ ]:
mystring = 'Sammy'

for letter in mystring:
    if letter == 'a':
        break
    print(letter)

In [ ]:
x = 0

while x < 5:
    print(x)
    x +=1

In [ ]:
x = 0

while x < 5:
    
    if x == 2:
        break
    print(x)
    x +=1

In [ ]:
#range function

for num in range(10):
    print(num)

In [ ]:
for num in range(3,10):
    print(num)

In [ ]:
for num in range(3,10,2):
    print(num)

In [ ]:
for num in range(0,11,2):
    print(num)

In [ ]:
list(range(0,11,2))

In [ ]:
index_count = 0 

for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count, letter))
    index_count += 1

In [ ]:
index_count = 0 
word = 'abcde'
for letter in word:
    
    print(word[index_count])
    index_count += 1

In [ ]:
#enumerate function
word = 'abcde'
for item in enumerate(word): 
    print(item)

In [ ]:
#enumerate function
word = 'abcde'

for index,letter in enumerate(word): 
    print(index)
    print(letter)
    print('\n')

In [ ]:
#zip 
mylist1 = [1,2,3]
mylist2 = ['a','b','c']

for item in zip(mylist1,mylist2):
    print(item)

In [ ]:
#zip 
mylist1 = [1,2,3]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]

for item in zip(mylist1,mylist2,mylist3):
    print(item)

In [ ]:
#zip will ignore extra values i.e.  4, 5, 6
mylist1 = [1,2,3,4,5,6]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]

for item in zip(mylist1,mylist2,mylist3):
    print(item)

In [ ]:
list(zip(mylist1,mylist2,mylist3))

In [ ]:
mylist1 = [1,2,3,4,5,6]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]

for a,b,c in zip(mylist1,mylist2,mylist3):
    print(b)

In [ ]:
#In evaluates to boolean
'x' in [1,2,3]

In [ ]:
'x' in ['x','y','z']

In [ ]:
'a' in 'a world'

In [ ]:
'mykey' in {'mykey':345}

In [ ]:
d = {'mykey':345}

345 in d.keys()

In [ ]:
#min and max function in python
mylist = [10,20,30,40,100]
print(min(mylist))
max(mylist)

In [ ]:
#Python built in random library
from random import shuffle

mylist = [1,2,3,4,5,6,7,8,9,10]
shuffle(mylist)
mylist

In [ ]:
shuffle(mylist)
mylist

In [ ]:
random_list = shuffle(mylist)
type(random_list)

In [ ]:
#randint in python
from random import randint
randint(0,100)

In [ ]:
randint(0,100)

In [ ]:
mynum = randint(0,10)
mynum

In [ ]:
#ask for user input
input('Enter a number: ')

In [ ]:
result = input('What is your name? ')

In [ ]:
result

In [ ]:
# numbers for input are treated as strings
result = input('Enter a number: ')

In [ ]:
type(result)

In [ ]:
#change type from string to float, need to assign to variable to save
float(result)

In [ ]:
type(float(result))

In [ ]:
#cast in one line
result = int(input('Enter a number: '))
type(result)

In [ ]:
#list comprehension

mystring = 'hello'
mylist = []

for letter in mystring:
    mylist.append(letter)

mylist

In [ ]:
#one liner in python 
mylist = [letter for letter in mystring]
mylist

In [ ]:
mylist = [asdf for asdf in 'wordtwo']
mylist

In [ ]:
mylist = [num for num in range(0,11)]
mylist

In [ ]:
mylist = [num**2 for num in range(0,11)]
mylist

In [ ]:
mylist = [x for x in range(0,11) if x%2 == 0]
mylist

In [ ]:
mylist = [x**2 for x in range(0,11) if x%2 == 0]
mylist

In [ ]:
celsius = [0,10,20,34.5]

fahrenheit = [( (9/5)*temp + 32) for temp in celsius]
fahrenheit

In [ ]:
#for loop rather than one liner, notice values are the same
fahrenheit = []

for temp in celsius:
    fahrenheit.append((9/5)*temp +32)

fahrenheit

In [ ]:
#ugly one liner
results = [x if x%2==0 else 'ODD' for x in range(0,11)]
results

In [ ]:
#use regular if else statement instead because it is readable

results= []

for x in range(0,11):
    if x%2==0:
        results.append(x)
    else:
        results.append('ODD')

results

In [ ]:
#nest loops 

mylist = []
for x in [2,4,6]:
    for y in [1,10,1000]:
        mylist.append(x*y)

mylist

In [ ]:
#one liner nested loop not as readable
mylist = [x*y for x in [2,4,6] for y in [1,10,1000]]
mylist

## Methods in Python

In [ ]:
mylist

In [ ]:
help(mylist.insert)

In [ ]:
mylist.insert(8, 500)

In [ ]:
mylist

## bin function

In [ ]:
5

In [ ]:
bin(5) #binary representation of the number 5

In [ ]:
int('0b101', 2) #binary representation converted back to integer

## Augmented Assignment Operator

In [ ]:
value = 2
value += 5

In [ ]:
value

In [ ]:
value = 14
value -= 3
value

In [ ]:
value = 4
value *= 2
value

In [ ]:
value = 6
value /= 2
value

## Lambda expressions, Map, and Filter

In [ ]:
def square(num):
    return num ** 2

In [ ]:
my_nums = [1,2,3,4,5]

In [ ]:
for item in map(square, my_nums):
    print(item)

In [ ]:
list(map(square, my_nums))

In [ ]:
def splicer(mystring):
    if len(mystring)%2 == 0:
        return 'EVEN'
    else:
        return mystring[0]

In [ ]:
names = ['Andy', 'Eve', 'Sally']

In [ ]:
list(map(splicer, names)) # pass in the function to map as an argument and map will run the function

In [ ]:
def check_even(num):
    return num%2 == 0

In [ ]:
mynums = [1,2,3,4,5,6]

In [ ]:
list(filter(check_even, mynums))

In [ ]:
for n in filter(check_even, mynums):
    print(n)

In [ ]:
def square(num):
    result = num ** 2
    return result

In [ ]:
square(3)

In [ ]:
# lambda expression aka an anonymouse function ... intended to run one time
square = lambda num: num ** 2

In [ ]:
square(5)

In [ ]:
# typically use lambda functions in conjunction with map and filter
# lambda function with the map function
mynums = [1,2,3,4,5,6]
list(map(lambda num: num ** 2, mynums))

In [ ]:
# lambda function with a filter function
list(filter(lambda num: num%2 == 0, mynums))

In [ ]:
names

In [ ]:
list(map(lambda name:name[0], names)) #grab the first letter of each name

In [ ]:
list(map(lambda x:x[0], names))

In [ ]:
list(map(lambda x:x[::-1], names)) #reverse the names

## Simplified toy example of objects and classes using 'bike' as a class

In [ ]:
class Bike:
    
    def __init__(self, color, frame_material):  # __init__, is an initializer aka a python 'magic method'
        self.color = color
        self.frame_material = frame_material
        
    def brake(self):
        print("Braking!")
        
# let's create a couple of instances
red_bike = Bike('Red', 'Carbon fiber')
blue_bike = Bike('Blue', 'Steel')

# let's inspect the objects we have, instances of the Bike class.
print(red_bike.color) #prints: Red
print(red_bike.frame_material) #prints: Carbon Fiber
print(blue_bike.color) #prints: Blue
print(blue_bike.frame_material) #prints: Steel

# let's brake!
red_bike.brake() #prints: Braking!
blue_bike.brake() #prints: Braking!

In [ ]:
import this

In [ ]:
age = 42
age
id(age)

In [ ]:
age = 43
age
id(age)